<% @trains.group_by(&:exercise).each do |exercise, trains| %>
  <h2><%= exercise %></h2>
  <% trains.group_by { |train| train.created_at.strftime("%Y年%m月%d日") }.each do |date, grouped_trains| %>
    <h3><%= date %></h3>
    <table class="table table-bordered">
      <thead>
        <tr>        
          <th scope="col">セット数</th>
          <th scope="col">重量(kg)</th>
          <th scope="col">レップ</th>
          <th></th>
          <th></th>
        </tr>
      </thead>  
      <tbody>
        <% grouped_trains.each_with_index do |train, i| %>
          <tr>
            <th scope="row"><%= i + 1 %></th>
            <td><%= train.weight %></td>
            <td><%= train.rep %></td>
            <td><%= link_to '編集', edit_user_train_path(@user, train), class: 'btn btn-success' %></td>
            <td><%= link_to '削除', user_train_path(@user, train), method: :delete, class: 'btn btn-danger', data: { confirm: '本当に削除しますか？' } %></td>

          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
<% end %>

<%= link_to '種目作成へ戻る',new_user_train_path(@user) %>
