<% @trains.group_by(&:exercise).each do |exercise, trains| %>
  <h2><%= exercise %></h2>
  <% trains.group_by { |train| train.created_at.strftime("%Y年%m月%d日") }.each do |date, grouped_trains| %>
    <h3><%= date %></h3>
    <table class="table table-bordered">
      <thead>
        <tr>        
          <th scope="col">セット数</th>
          <th scope="col">重量(kg)</th>
          <th scope="col">レップ</th>
        </tr>
      </thead>  
      <tbody>
        <% grouped_trains.each_with_index do |train, i| %>
          <tr>
            <th scope="row"><%= i + 1 %></th>
            <td><%= train.weight %></td>
            <td><%= train.rep %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
<% end %>

<%= link_to '種目作成へ戻る',new_user_train_path(@user) %>
