<h1>トレーニング種目編集</h1>

<%= form_with(model: [@user, @train], local: true) do |form| %>
  <div class="form-group">
    <%= form.label :name, "トレーニングの部位", class: 'form-label' %>
    <%= form.text_field :part, readonly: true, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :weight, "重量(kg)", class: 'form-label' %>
    <%= form.number_field :weight, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :rep, "レップ", class: 'form-label' %>
    <%= form.number_field :rep, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :note, "備考", class: 'form-label' %>
    <%= form.text_area :note, class: 'form-control' %>
  </div>

  <%= form.submit "更新", class: "btn btn-primary" %>
<% end %>

<%= link_to 'キャンセル', user_trains_path(@user), class: 'btn btn-secondary' %>
