<%# トレーニング一覧 %>
<% if @user.trains.any? %>
  <div class="space">
    <h2>トレーニング一覧</h2>
    <div class="list-group">
      <% trains_by_date = @user.trains.group_by { |train| train.updated_at.to_date } %>
      <% trains_by_date.each do |date, trains| %>
        <li class="list-group-item">
          <a data-toggle="collapse" href="#<%= date %>" aria-expanded="false" aria-controls="<%= date %>"><%= date %></a>
          <% trains.each do |train| %>
            <a data-toggle="collapse" href="#<%= "#{date}-#{train.part}" %>" aria-expanded="false" aria-controls="<%= "#{date}-#{train.part}" %>"><%= train.part %></a>
            <div class="collapse" id="<%= "#{date}-#{train.part}" %>">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>部位</th>
                    <th>種目</th>
                    <th>重量</th>
                    <th>レップ数</th>
                    <th>備考</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td><%= train.part %></td>
                    <td><%= train.exercise %></td>
                    <td><%= train.weight %></td>
                    <td><%= train.rep %></td>
                    <td><%= train.note %></td>
                  </tr>
                </tbody>
              </table>
            </div>
          <% end %>
        </li>
      <% end %>
    </div>
  </div>
<% end %>
