<%# トレーニング一覧 %>
<h2><%= @user.name %>さんのトレーニング一覧</h2>
    
<% if @user.trains.any? %>

  <div class="space">
    <div class="list-group">
      <% trains_by_date = @user.trains.group_by { |train| train.updated_at.to_date } %>
      <% trains_by_date.each do |date, trains| %>
        <li class="list-group-item">
          <%= link_to I18n.l(date, format: '%m/%d (%^a)'), user_train_path(@user, trains.first, date: date) %>
          <% exercises = trains.map(&:part).uniq %>
          <% exercises.each do |exercise| %>
          <span style="color: <%= color_for(exercise) %>;"><%= exercise %></span> 
          <% end %>          
        </li>
      <% end %>
    </div>
  </div>
<% else %>
  <p>トレーニング記録がありません</p>
<% end %>


<%= link_to '部位別に表示する', part_user_path(current_user) %>

